.title {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: transparent;
  background-image: linear-gradient(to right, #553c9a 45%, #ee4b2b);
  background-clip: text;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
